{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - {% else %}Welcome to myProperty{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('login') }}">myProperty Melbourne Price Predictor</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('login') }}">Home</a></li>
                    <li><a href="{{ url_for('login') }}">Search</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">    
                    <li><a href="{{ url_for('login') }}">Profile</a></li>
                    <li><a href="{{ url_for('login') }}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

  <form class="navbar-form navbar-header" action="/action_page.php">
    <div class="form-row">
      <div class="col-md-12 mb-auto">
        <input type="text" class="form-control" placeholder="Address">
        <input type="text" class="form-control" id="landsize" placeholder="Landsize (m²)">
        <input type="text" class="form-control" id="council" placeholder="Council">

        <label for="type">Type</label>
        <select id="type" class="form-control">
            <option selected>Choose...</option>
            <option>House</option>
            <option>Units</option>
            <option>Flats</option>
            <option>Other</option>
        </select>

        <label for="bedrooms">Bedrooms</label>
        <select id="bedrooms" class="form-control">
            <option selected>Choose...</option>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>

        <label for="bathrooms">Bathrooms</label>
        <select id="bathrooms" class="form-control">
            <option selected>Choose...</option>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>

        <label for="garage">Garage</label>
        <select id="garage" class="form-control">
            <option selected>Choose...</option>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
    
        {{ form.submit(class="btn btn-outline-info") }}
      
      </div>
    </div>
  </form>
        
    
{% endblock %}

{% block content %}
    <div class="container">
      
    </div>
{% endblock %}

