{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - {% else %}Welcome to myProperty{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse">

        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('login') }}">myProperty Melbourne Price Predictor</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('searchpage') }}">Home</a></li>
                    <li><a href="{{ url_for('searchpage') }}">Search</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">    
                    <li><a href="{{ url_for('login') }}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

  <nav class="navbar navbar-second bg-steel">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9LRe04ezbuuR5SEYFMp60huOy0i8zWxk&libraries=places"></script>

      <form class="navbar-form navbar-header" method="POST" action="">    
        <div class="form-row">
          <div class="col-md-12 mb-auto">
            {{ form.hidden_tag() }}

            <input type="text" id="searchplace" placeholder="Address" size=50 />
            <input type="hidden" id="latitude" name="latitude"/>
            <input type="hidden" id="longitude" name="longitude"/>

            <script type="text/javascript">
                function initialize() {
                    var searchBox = document.getElementById('searchplace');
                    var autocomplete =  new google.maps.places.Autocomplete(searchBox);
                    var latitude;
                    var longitude;

                    google.maps.event.addListener(autocomplete, 'place_changed', function () {
                        var place = autocomplete.getPlace();

                        latitude = place.geometry.location.lat();
                        longitude = place.geometry.location.lng();
                        document.getElementById('latitude').value = place.geometry.location.lat();
                        document.getElementById('longitude').value = place.geometry.location.lng();   


                    }); 
                    var location = new google.maps.LatLng(50.0875726, 14.4189987);
                    var mapCanvas = document.getElementById('map');
                    var mapOptions = { 
                        center: location,
                        panControl: false,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    }
                    var map = new google.maps.Map(mapCanvas, mapOptions);                                            
                }
                google.maps.event.addDomListener(window, 'load', initialize);
            </script>
        
            

            {{ form.landsize(class="form-control", placeholder="Landsize (m²)") }}

            {{ form.distance(class="form-control", placeholder="Approx. Distance to CBD (km)") }}

            {{ form.council.label(class="form-control") }}
            {{ form.council(class="form-control", placeholder="Council") }}

            {{ form.property_type.label(class="form-control") }}
            {{ form.property_type(class="form-control") }}
        

            {{ form.num_bedroom.label(class="form-control") }}
            {{ form.num_bedroom(class="form-control") }}

    
            {{ form.num_bathroom.label(class="form-control") }}
            {{ form.num_bathroom(class="form-control") }}
        

            {{ form.num_garage.label(class="form-control") }}
            {{ form.num_garage(class="form-control") }}
                
            {{ form.submit(class="btn btn-outline-info") }}
          
          </div>
        </div>
      </form>
  </nav>   
    
{% endblock %}

{% block content %}

    <div id="map" data-role="page"></div>

    <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

    {% if form.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    </div>

    

{% endblock %}

