{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - {% else %}Welcome to myProperty{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">

        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('login') }}">myProperty Melbourne Price Predictor</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('searchpage') }}">Home</a></li>
                    <li><a href="{{ url_for('searchpage') }}">Search</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">    
                    <li><a href="{{ url_for('login') }}">Profile</a></li>
                    <li><a href="{{ url_for('login') }}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

  <nav class="navbar navbar-second">
      <form class="navbar-form navbar-header" method="POST" action="">    
        {{ form.hidden_tag() }}
        <div class="form-row">
          <div class="col-md-12 mb-auto">

            {{ form.address(class="form-control", placeholder="Address") }}

            {{ form.landsize(class="form-control", placeholder="Landsize (m²)") }}

            {{ form.council.label(class="form-control") }}
            {{ form.council(class="form-control", placeholder="Council") }}

            {{ form.property_type.label(class="form-control") }}
            {{ form.property_type(class="form-control") }}
        

            {{ form.num_bedroom.label(class="form-control") }}
            {{ form.num_bedroom(class="form-control") }}

    
            {{ form.num_bathroom.label(class="form-control") }}
            {{ form.num_bathroom(class="form-control") }}
        

            {{ form.num_garage.label(class="form-control") }}
            {{ form.num_garage(class="form-control") }}
                
            {{ form.submit(class="btn btn-outline-info") }}
          
          </div>
        </div>
      </form>
  </nav>   
    
{% endblock %}

{% block content %}
    <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

    {% if form.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    </div>


{% endblock %}

