{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - {% else %}Welcome to myProperty{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">

        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('login') }}">myProperty Melbourne Price Predictor</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('searchpage') }}">Home</a></li>
                    <li><a href="{{ url_for('searchpage') }}">Search</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">    
                    <li><a href="{{ url_for('login') }}">Profile</a></li>
                    <li><a href="{{ url_for('login') }}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}

{% block content %}
    <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <img src="{{ pic1 }}" alt="User Image">
      <img src="{{ pic2 }}" alt="User Image">
    </div>

{% endblock %}

